{% extends 'quiz/main.html' %}

{% block loginblock %}

<div class="infotext">  
<h2 class="lh2">Log in</h2>
  
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit" class="save btn btn-warning btn-large">Log in</button>
      <p class="logintext">If you don't have an account, <a href="/signup" class="links">register</a> and create an account.<br><br>The reason why we have a login is so that you can monitor your progress (coming soon) and we can add you to the highscore.</p>
  </form>
  </div>
{% endblock %}

