{% extends 'quiz/main.html' %}
{% load static %}
{% block contentframe %}
<style>
  li.liste {
  list-style-type:none;  
  }
  li.liste a{
  width:83%;
  }

  @-webkit-keyframes qframe_anim {
  0% {background-color:#fff; top:-10%;transform:scale(0);}
  100% {background-color:#333;top:17%;transform:scale(1);}
  }
  @-webkit-keyframes cframe_anim {
  0% {background-color:#fff; top:100%;transform:scale(0);}
  100% {background-color:#333; top:43%;transform:scale(1);} 
  }
  @-webkit-keyframes data_anim {
  0% {background-color:#fff; left:-20%;transform:scale(0);}
  100% {background-color:#333; left:5%;transform:scale(1);}
  }
  @-webkit-keyframes info_anim {
  0% {background-color:#fff;left:-20%;top:43%;transform:scale(0);}
  100% {background-color:#333; left:5%;transform:scale(1);}
  }
  
  @-webkit-keyframes status {
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0;}
  }
  @-webkit-keyframes button1 {
  0% {background-color:#333; bottom:-400px;}
  100% {background-color:#f5f5f5; bottom:0px;}
  }
  @-webkit-keyframes button2 {
  0% {background-color:#333; bottom:-400px;}
  100% {background-color:f5f5f5; bottom:0px;}
  }
  @-webkit-keyframes button3 {
  0% {background-color:#333; bottom:-400px;}
  100% {background-color:#f5f5f5; bottom:0px;}
  }
  @keyframe example2 {
  }
  @-webkit-keyframes bubble {
  0%{top:100%;left:60%;}
  100%{top:0%;left:80%;}
  }
  @-webkit-keyframes bubble1 {
  0%{top:100%;left:60%;}
  100%{top:0%;left:70%;}
  }
  @-webkit-keyframes bubble2 {
  0%{top:100%;left:60%;}
  100%{top:0%;left:85%;}
  }
  .qframe {
  position:fixed;
  display:block;
  color:#ddd;
  top:17%;
  left:30%;
  right:70%;
  margin:auto;
  width:40%;
  height:20%;
  background-color:#333;
  animation-name:qframe_anim;
  animation-duration:2.5s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  <!--  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);-->
  z-index: 1;  
  }
  .qtext {
  color:#ddd;
  font-size:25px;
  text-align:center;
  position:relative;
  margin:0;
  padding:5% 5% 5% 5%;
  }
  .cframe {
  position:fixed;
  display:block;
  margin:auto;
  background-color:#333;
  top:43%;
  left:30%;
  right:70%;
  width:36%;
  margin:auto;
  padding:2% 2% 2% 2%;
  animation-name:cframe_anim;
  animation-duration:2.5s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  <!-- box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);-->
  z-index: 1;                                      
  }
  .outerstatus {
  margin:auto;
  position:relative;
  }
  .status {
  opacity:0;
  position:fixed;
  left:45%;
  top:35%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:40;
  display:inline-block;
  animation-name:status;
  animation-duration:3s;
  

  }

  .button {
border-radius: 4px;
padding:30px 20px 20px 20px;
  background-color: #4ca450;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
width:97%;
  transition: all 0.0s;
  cursor: pointer;
margin: 5px;
  opacity:0.8;
  outline:none;
  }

  #button1 {
  position:relative;
  animation-name:button1;
  animation-duration:1.5s;
}
  #button2 {
  position:relative;
  animation-name:button2;
  animation-duration:2.0s;
  }
  #button3 {
  position:relative;
  animation-name:button3;
  animation-duration:2.5s;
}
#button4 {
position:relative;

}

  .button:active:after {
  padding:0;
  margin:0;
  opacity:1;
  transition:0s;
  }
  .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }

  .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }

  .button:hover span {
  padding-right: 25px;
  }

  .button:hover span:after {
  opacity: 1;
  right: 0;
  }
  .button:hover {
  opacity:1;
  }
  .datacontainer {
  position:fixed;
  padding:1% 1% 1% 1%;
  display:block;
  top:17%;
  left:5%;
  right:95%;
  width:20%;
  height:16%;
  background-color:#333;
  color:#ddd;
  animation-name:data_anim;
  animation-duration:2.5s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
<!--  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);-->                                                                                                
       
  }
  .data {
  position:relative;
  font-size:25px;  
  }
#skillbar {
  position:relative;
  width:100%;
  background-color:grey;
  }
  #skill {
  width:1%;
  height:25px;
  background-color:#4ca450;
  }
#progressbar {
position:relative;
  width:100%;
  background-color:grey;
  }
  #progress {
  width:1%;
  height:25px;
  background-color:#4ca450;
  }
  .infocontainer {
  position:fixed;
  left:5%;
  top:43%;
  width:20%;
  background-color:#333;
  padding:1% 1% 1% 1%;
  font-size:25px;
  animation-name:info_anim;
  animation-duration:2.5s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
<!--  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);-->
  <!-- box-shadow: 10px 10px 5px #888888;-->
  }
  
  .info {
  position:relative;
  width:100%;
  color:#ddd;
  }
  .material-icons {
  visibility:hidden;
  }

  .categorycontainer:hover~.datacontainer,.categorycontainer:hover~.infocontainer,.categorycontainer:hover~.qframe,.categorycontainer:hover~.cframe{
  opacity:0;
  }
  .bcontainer {
  position:fixed;
  display:block;
  color:#ddd;
  top:0%;
  left:80%;
  right:10%;
  margin:auto;
  width:5%;
  height:10%;
  border-radius:50%;  
  background-color:lightblue;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  <!--  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);-->
  z-index: 1;
  text-align:center;
  opacity:0.7;
  animation-name:bubble;
  animation-duration:5s;
  }
  .bframe{
  position:relative;
  padding:0;
  margin:0;
  top:15%;
  }
  .bframe p{
  margin:0;
  font-size:15px;
  font-family: 'Gloria Hallelujah', cursive;
  color:black;
  }
  #bubble1 {
  position:fixed;
  display:block;
  color:#ddd;
  top:0%;
  left:90%;
  right:10%;
  margin:auto;
  width:5%;
  height:10%;
  border-radius:50%;  
  background-color:lightblue;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  <!--  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);-->
  z-index: 1;
  text-align:center;
  opacity:0.7;
  transform:scale(0.85);
  animation-name:bubble1;
  animation-duration:5s;
  }
  #bubble2 {
  position:fixed;
  display:block;
  color:#ddd;
  top:0%;
  left:80%;
  right:20%;
  margin:auto;
  width:5%;
  height:10%;
  border-radius:50%;  
  background-color:lightblue;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  <!--  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);-->
  z-index: 1;
  text-align:center;
  opacity:0.7;
  transform:scale(0.7);
  animation-name:bubble2;
  animation-duration:5s;
  }
  #bubble1,#bubble2,#bc {
 -webkit-animation-play-state:paused;
  }

</style>
<div class="datacontainer" id="dataid">
  <div class="data">
    Time:
    <div id="skillbar">
      <div id="skill">
      </div>
    </div>
    Progress:
    <div id="progressbar">
      <div id="progress">
      </div>
    </div>
  </div>
</div>
<div class="infocontainer" id="infoid">
  <div class="info">
    Correct:
    <div class="checkpoints">
      <i class="material-icons" id="check1" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check2" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check3" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check4" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check5" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check6" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check7" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check8" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check9" style="font-size:48px;color:#4ca450;">check_circle</i>
      <i class="material-icons" id="check10" style="font-size:48px;color:#4ca450;">check_circle</i>
    </div>
  </div>
</div>
<div id="statusid" class="status">
  <div id="correctstatus">
  </div>
</div>
<div id="qf" class="qframe">
  <p id="qt" class="qtext"> 
</div>
<div id="cf" class="cframe">
  <button id="button1" onclick=check(0) class="button"><span></span></button><br>
  <button id="button2" onclick=check(1) class="button"><span></span></button><br>
  <button id="button3" onclick=check(2) class="button"><span></span></button><br>
  <button id="button4" onclick=try_again() class="button"><span></span></button><br>
</div>
<div id="bc" class="bcontainer">
  <div id="bf" class="bframe">
  <p>Bonus <br>Point</p>
  </div>
</div>
<div class="bubble1" id="bubble1"></div>
<div class="bubble2" id="bubble2"></div>
<script>
  document.getElementById("news").addEventListener("mouseover",hide_elements_on_menu_pop,false);
  document.getElementById("contact").addEventListener("mouseover",hide_elements_on_menu_pop,false);
  document.getElementById("about").addEventListener("mouseover",hide_elements_on_menu_pop,false);
  document.getElementById("category").addEventListener("mouseover",hide_elements_on_menu_pop,false);
  document.getElementById("news").addEventListener("mouseleave",show_elements_on_menu_hide,false);
  document.getElementById("contact").addEventListener("mouseleave",show_elements_on_menu_hide,false);
  document.getElementById("about").addEventListener("mouseleave",show_elements_on_menu_hide,false);
  document.getElementById("category").addEventListener("mouseleave",check_if_screen,false);
  document.getElementById("ccontainer").addEventListener("mouseleave",show_elements_on_menu_hide,false);
  document.getElementById("statistics").addEventListener("mouseover",hide_elements_on_menu_pop,false);
  document.getElementById("statistics").addEventListener("mouseleave",show_elements_on_menu_hide,false);
  document.getElementById("highscore").addEventListener("click",deal_with_hiscore,false);
 <!--document.getElementById("highscore").addEventListener("mouseleave",show_elements_on_menu_hide,false);  -->
<!--  window.onload=init1();-->
  b4 = document.getElementById("button4");
  b4.style.display="none";
  var myq = [];
  var myc = [];
  var q = 0;
  var a ="testing";                                                             
  var correct = 0;
  var points = 100;
  var total_points = 0;
  var number_of_questions = 0;
  var progressBarId = 0;
var check_icon = ["check1","check2","check3","check4","check5","check6","check7","check8","check9","check10"];
var bonus = 0;
window.onload=init1();
var categoryname;

  function init1() {
  console.log("init1()");
  var myq = [];
  myq = JSON.parse('{{ qlist|escapejs }}');
  var myc = [];
  var count = 0; 
  {% for i in clist %}
  var tmp = JSON.parse('{{ i|escapejs }}');
  myc[count++] = tmp;
{% endfor %}
categoryname = "{{ cat }}";
console.log("CATCAT"+categoryname);
init(myq,myc);
  loop(0);
  }
  function init(i,j) {
  myq = i;                                                                    
  myc = j;                                                                  
  number_of_questions = myq.length;
  console.log("init");
  console.log(myq.length);
  }
  function try_again() {
  location.reload();
  }
  
  function animate_status() {
  console.log("anim2()");
  s=document.getElementById("statusid");
  s.classList.remove("status");
  void s.offsetWidth;
  s.classList.add("status");
}
function animate_bubbles() {
console.log("anim_bubbles() ",points);
s1 =document.getElementById("bubble1");
s2 =document.getElementById("bubble2");
s1.classList.remove("bubble1");
s2.classList.remove("bubble2");
void s1.offsetWidth;
void s2.offsetWidth;
s1.classList.add("bubble1");
s2.classList.add("bubble2");

}
function animate_all() {
  console.log("animate");                                                                                                                                       
  element1=document.getElementById("button1"); 
  element2=document.getElementById("button2");                                                                                   
  element3=document.getElementById("button3");                                                                                                                
  elementc=document.getElementById("cf");
  elementq=document.getElementById("qf");
  elementq.classList.remove("qframe");
  elementc.classList.remove("cframe");
  element1.classList.remove("button");
  element2.classList.remove("button");
  element3.classList.remove("button");
  void elementq.offsetWidth;
  void elementc.offsetWidth;
  void element1.offsetWidth;
  void element2.offsetWidth;
  void element3.offsetWidth;
  
  elementq.classList.add("qframe");
  elementc.classList.add("cframe");
  element1.classList.add("button");
  element2.classList.add("button");
  element3.classList.add("button");
  }
  
  function anim() {
  animate_status();
  }
  
  function loop(question_number) {
  anim();
  console.log("loop");
  console.log(q);
  //    document.getElementById("test").innerHTML = myc.length;
  document.getElementById("qt").innerHTML = myq[question_number].fields.question_name;
  document.getElementById("button1").innerHTML = myc[question_number][0].fields.choice_name;
  document.getElementById("button2").innerHTML = myc[question_number][1].fields.choice_name;
  document.getElementById("button3").innerHTML = myc[question_number][2].fields.choice_name;
  /*hide(false);*/
  move();
  
  }
function finish() {
console.log("finish");

animate_status();
var average = Math.ceil(total_points/number_of_questions);
//document.getElementById("points").innerHTML = "Points: "+Math.ceil(total_points/number_of_questions);
var w = document.getElementById("button1");
w.style.display = "none";
var x = document.getElementById("button2");
x.style.display = "none";
var y = document.getElementById("button3");
  y.style.display = "none";
  var y1 = document.getElementById("button4")
  y1.innerHTML="Try Again";
  y1.style.display = "block";
document.getElementById("qt").innerHTML="Correct answers: "+correct+"/"+number_of_questions+"<br>Time points: "+total_points+"<br>Average time: "+average+"<br>Bonus points: "+bonus;
submit_score(correct+bonus);
}

function display_check(answer_status) {
var ci=document.getElementById(check_icon[q]);
ci.innerHTML =answer_status;
if(answer_status != "check_circle") {
ci.style.color="#f7786b";
}
ci.style.visibility="visible";
}

  
function check(b){                                                               
  console.log("check"+b);
  clearInterval(progressBarId);
  animate_all();
  moveprogress();

if(b==99) {                                                                  
  document.getElementById("correctstatus").innerHTML = "TIME OUT!";
  display_check("alarm");
}                                                                            
else if(myc[q][b].fields.is_correct) {
if(points>75){
document.getElementById("correctstatus").innerHTML = "BONUS!";
bonus++;
}
else{
  document.getElementById("correctstatus").innerHTML = "CORRECT!";
}
display_check("check_circle");
correct++;

        console.log("correct");                                                  
console.log(correct);
        total_points += points;                                                  

}
    else{                                                                        
  document.getElementById("correctstatus").innerHTML = "WRONG!";
  display_check("cancel");
}

    if(q<number_of_questions-1){                                                 
        loop(++q);                                                               
    }                                                                            
    else{                                                                        
        finish();                                                                
    }                                                                            
} 
  function answer() {
  console.log("answer()");
	  }
function move() {
    var i = 100;
    console.log("move");
    var elem = document.getElementById("skill");
    elem.innerHTML = i;
    var width = 1;
    points = 100;
    //var id = setInterval(frame, 50);
    progressBarId = setInterval(frame,200);
    function frame() {
	i--;
	elem.innerHTML =i;	
	if (width >= 100) {
	    points = 0;
	    clearInterval(progressBarId);
	    check(99);
	}
	else {
	    width++;
	    elem.style.width = width + '%';
	    points--;
	}
    }
}
  function moveprogress() {
  var elem = document.getElementById("progress");
  var qnr = (q+1)*100/number_of_questions;
  console.log("qnr: "+qnr);
  elem.style.width = qnr +'%';
  }
  
  function hide_elements_on_menu_pop() {
  console.log("hiding quiz");
  var elem_data = document.getElementById("dataid");
  var elem_info = document.getElementById("infoid");
  var elem_qf = document.getElementById("qf");
  var elem_cf = document.getElementById("cf");
  elem_data.style.display="none";
  elem_info.style.display="none";
  elem_qf.style.display="none";
  elem_cf.style.display="none";
  }
  
  function deal_with_hiscore() {
  if(document.getElementById("hcontainer").style.display=="block") {
  show_elements_on_menu_hide();
  }
  else{
  hide_elements_on_menu_pop();
  }
  }
  function show_elements_on_menu_hide() {
  console.log("show quiz");
  var elem_data = document.getElementById("dataid");
  var elem_info = document.getElementById("infoid");
  var elem_qf = document.getElementById("qf");
  var elem_cf = document.getElementById("cf");
  elem_data.style.display="block";
  elem_info.style.display="block";
  elem_qf.style.display="block";
  elem_cf.style.display="block";
  }
  function check_if_screen() {
  var x = event.clientX;                                                                                                                           
  var y = event.clientY;                                                                                                                           
  var elementMouseIsOver = document.elementFromPoint(x, y);
  if(elementMouseIsOver.id != "screen"){
  console.log("not over screen");
  show_elements_on_menu_hide();
  }
  }
  function submit_score(total) {
  console.log("submit_score()->total="+total+"categoryname: "+categoryname);
  var csrftoken = getCookie('csrftoken');


  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
  <!--$.ajaxSetup({data: {csrfmiddlewaretoken: csrftoken }});-->
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });
  var TEST=5;
  var myData = {"p":total,"c":categoryname};
  data=JSON.stringify(myData);
  console.log("JSON TEST: ",JSON.stringify(myData));
  $.post("/savestatistics/",{"data":data},function serverstatus() {
  console.log("JAJAJJAJAJA");
  });




  
//  $.ajax({
 // type:"POST",
  //dataType:"text",
  //contentType:"application/json; ; charset=utf-8",
  //url:"/savestatistics/",
  //data: JSON.stringify(myData),
  //succsess:function(){console.log("ERROR from mainquiz.submit_score()");},
  //failure:function(){console.log("klarte ikke")}
  //});
 // }

  var csrftoken = getCookie('csrftoken');
  // using jQuery
  function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
  var cookies = document.cookie.split(';');
  for (var i=0;i<cookies.length;i++) {
				     var cookie = jQuery.trim(cookies[i]);
				     // Does this cookie string begin with the name we want?
				     if (cookie.substring(0, name.length + 1) === (name + '=')) {
				     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				     break;
				     }
}
			    }
				     return cookieValue;
		      }
		      }
		      

</script>
{% endblock %}
