{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script src="{% static " quiz/canvasjs.min.js " %}"></script>-->
<script src="{% static "quiz/jquery-3.2.1.js" %}"></script>
<script src="{% static "quiz/main.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "quiz/main.css" %}">
<link rel="stylesheet" href="{% static "quiz/mainquiz.css" %}">

<!--<script src="{% static "quiz/rango-ajax.js" %}"></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body> <!--background="{% static "quiz/whitebg.jpg" %}">-->
  <div class="outercontainer">
    <div class="topsection">
      <div class="firstrow">
	<div class="title"><p>Super Quiz</p></div>
	<div class="menuicon" id="menuicondiv"><i class="material-icons" id="menubutton">menu</i></div>
      </div>
      <div class="secondrow">
	<div class="topnavicon" id="home">
	  <li class="active" style="vertical-slign:middle;"><i class="fa fa-home" style="vertical-align:middle;"></i></li>
	</div>
	<ul class="listing">
	  <li class="norm"><p id="play">Play</p></li>
	  <li class="norm"><p id="news">News</p></li>
	  <li class="dropdown">	  
	    <p class="dropbtn" id="category">Start Quiz</p>
	    <div class="dropdown-content">
	      {% for category in categories %}
	      <p>{{ category }}</p> {% endfor %}
	    </div>
	  </li>
	  <li class="norm" id="about-btn"><p id="about">About</p></li>
	  <li class="norm" id="mysite-btn"><p id="mysite">My Site</p></li>
	  <li class="norm" id="highscore-btn"><p id="highscore">Highscore</p></li>
	  <li class="norm" id="statistics-btn"><p id="statistics">Statistics</p></li>
          <li class="triangleleft"></li>
	  <li class="triangleright"></li>

	  <li style="float:right"><p id="login"></p></li>
	</ul>
      </div>
    </div>
    
    <div class="categories_container" id="cat_cont">
      <div class="categories" id="cat" style="visibility:hidden;">
	<h2>Choose a Category</h2>
	{% for category in categories %}
        <p>{{ category }}</p>
	{% endfor %}
      </div>
    </div>
    <div class="screen" id="screen">
      <div class="statisticscontainer" id="scontainer">
	<h2 id="sh2"></h2>
	<div class="scontent" id="sc">
	</div>	
      </div>
      <div class="aboutcontainer" id="acontainer">
	<h2 id="ah2"></h2>
	<div class="acontent" id="ac">
	</div>	
      </div>
      <div class="newscontainer" id="ncontainer">
	<h2 id="nh2"></h2>
	<div class="ncontent" id="nc">
	</div>	
      </div>
      <div class="statisticscontainer" id="scontainer">
	<h2 id="sh2"></h2>
	<div class="scontent" id="sc">
	</div>
      </div>
      <div class="mysitecontainer" id="mcontainer">
	<h2 id="myh2"></h2>
	<div class="mcontent" id="myc">
	</div>
      </div>
      <div class="logincontainer" id="lcontainer">
	<h2 id="lh2"></h2>
	<div class="lcontent" id="lc">
	  {% block loginblock %}
	  {% endblock loginblock %}
	</div>
      </div>
      <div class="hiscorecontainer" id="hcontainer">
	<h1 id="hh2"></h1>
	<!--<div class="scrolliconcontainer" id="scrolliconcontainerup">
	  <i class="material-icons" id="scrolliconup">expand_more</i>
	</div>-->
	<div class="hcontent row" id="hc">
	</div>
	<!--<div class="scrolliconcontainer" id="scrolliconcontainerdown">
	  <i class="material-icons" id="scrollicondown">expand_less</i>
	</div>-->
      </div>
      <div class="playcontainer" id="pcontainer">
	<h1 id="ph2"></h1>
	<div class="pcontent" id="pc">
	</div>
      </div>
      <div class="menucontainer" id="mecontainer">
	<h1 id="meh2">Menu</h1>
	<div class="mecontent" id="mec">
	  <p id="moblogin">Log In</p>
	  <p id="mobplay">Play</p>
	  <p id="mobhighscore">High Score</p>
	  <p id="mobabout">About</p>
	</div>
      </div>
      <div class="categorycontainer" id="ccontainer">
	<h2 id="ch2"></h2>
	<div class="categorycontent" id="cc">
	  <table class="categorylist" cellspacing="10" >
	    <tr>
	      <th>Culture</th>
	      <th>Geography</th>
	      <th>History</th>
	      <th>Science</th>
	      <th>Sports</th>
	      <th>Food</th>
	      <th>Language</th>
	      <th>Politics</th>
	    </tr>
	    <tr>
	      <td><a href="/Music">Music</a></td>
	      <td><a href="/Geography">Geography</a></td>
	      <td><a href="/History">History</a></td>
	      <td><a href="/Biology">Biology</a></td>
	      <td><a href="/Sport">Sport</a></td>
	      <td><a href="/Food">Food</a></td>
	      <td><a href="/Language">Language</a></td>
	      <td><a href="/News">News</a></td>
	    </tr>
	    <tr>
	      <td><a href="/TV">TV</a></td>
	      <td><a href="/Mountains">Mountains</a></td>
	      <td><a href="/Wars">Wars</a></td>
	      <td><a href="/Math">Math</a></td>
	      <td><a href="/Football">Football</a></td>
	      <td><a href="/Alcohol">Alcohol</a></td>
	      <td><a href="/French">French</a></td>
	      <td><a href="/Politics">Politics</a></td>
	    </tr>
	    <tr>
	      <td><a href="/Movies">Movies</a></td>
	      <td><a href="/Rivers">Rivers</a></td>
	      <td><a href="/Kings">Kings and emperors</a></td>
	      <td><a href="/Physics">Physics</a></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td><a href="/Economy">Economy</a></td>
	    </tr>
	    <tr>
	      <td><a href="/Radio">Radio</a></td>
	      <td></td>
	      <td><a href="/Mythology">Mythology</a></td>
	      <td><a href="/Telecom">Telecom</a></td>
	      <td></td>
	      <td></td>
	      <td><a href="/Norwegian">Norwegian</a></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td><a href="/Theatre">Teathre</a></td>
	      <td></td>
	      <td></td>
	      <td><a href="/Computers">Computers</a></td>
	      <td></td>
	      <td></td>
	      <td><a href="/English">English</a></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td><a href="/Art">Art</a></td>
	      <td></td>
	      <td></td>
	      <td><a href="/Chemistry">Chemistry</a></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    	    <tr>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td><a href="/Programming">Programming</a></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	  </table>
	</div>
      </div>
      
      {% block contentframe %}
      {% endblock contentframe %}
    </div>

<!--    <div class="bottombar">
      <p class="bottomtext">
	by Anders Huse
      </p>
    </div>
    -->
  </div>
  <script>
<!--    var qnumber = JSON.parse('{{ qnumber|escapejs }}'); -->
<!--    var cnumber = JSON.parse('{{ status|escapejs }}');-->

window.onload = initialize();
document.getElementById("play").addEventListener("click",play,false);
document.getElementById("menuicondiv").addEventListener("click",menubutton,false);
document.getElementById("moblogin").addEventListener("click",function(){setTimeout(login,100)});
<!--document.getElementById("mobplay").addEventListener("click",play,false);-->
document.getElementById("mobplay").addEventListener("click",function(){setTimeout(play,100)});
document.getElementById("mobhighscore").addEventListener("click",function(){setTimeout(hiscore,100)});
document.getElementById("mobabout").addEventListener("click",function(){setTimeout(about,100)});

document.getElementById("home").addEventListener("click",home,false);
document.getElementById("about").addEventListener("click",about,false);
<!--document.getElementById("about").addEventListener("mouseleave",about,false);-->
document.getElementById("news").addEventListener("click",news,false);
<!--document.getElementById("news").addEventListener("mouseleave",news,false);-->
document.getElementById("category").addEventListener("click",category,false);
<!--document.getElementById("category").addEventListener("mouseleave",category,false);-->
document.getElementById("ccontainer").addEventListener("mouseleave",leavecategory,false);
document.getElementById("login").addEventListener("click",login,false);
document.getElementById("screen").addEventListener("mouseleave",gone_off_screen,false);
document.getElementById("statistics").addEventListener("click",statistics,false);
<!--document.getElementById("statistics").addEventListener("mouseleave",statistics,false);-->
document.getElementById("highscore").addEventListener("click",hiscore,false);
document.getElementById("mysite").addEventListener("click",mysite,false);

document.getElementById("scrolliconcontainerup").addEventListener("click",scrollup,false);
document.getElementById("scrolliconcontainerdown").addEventListener("click",scrolldown,false);
  </script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

